<form [formGroup]="form" (ngSubmit)="salvar()" class="page-container compact">

  <!-- HEADER -->
  <div class="section-header mini">
    <span>
      {{
      isView
      ? 'Visualizar exercício'
      : isEdit
      ? 'Editar exercício'
      : 'Novo exercício'
      }}
    </span>
  </div>

  <div class="form-grid compact-grid">

    <!-- NOME -->
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>

        <input matInput formControlName="nome" />

        @if (form.get('nome')?.hasError('required')) {
          <mat-error>
            Nome é obrigatório
          </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- GRUPO MUSCULAR -->
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Grupo muscular</mat-label>

        <mat-select formControlName="grupoMuscular">
          @for (grupo of gruposMusculares; track grupo) {
            <mat-option
              [value]="grupo.value"
              >
              {{ grupo.label }}
            </mat-option>
          }
        </mat-select>

        @if (form.get('grupoMuscular')?.hasError('required')) {
          <mat-error>
            Grupo muscular é obrigatório
          </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- INTENSIDADE -->
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Intensidade</mat-label>

        <mat-select formControlName="intensidade">
          @for (intensidade of intensidades; track intensidade) {
            <mat-option
              [value]="intensidade.value"
              >
              {{ intensidade.label }}
            </mat-option>
          }
        </mat-select>

        @if (form.get('intensidade')?.hasError('required')) {
          <mat-error>
            Intensidade é obrigatória
          </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- STATUS -->
    <div class="col-12">
      <mat-radio-group formControlName="ativo" class="status-radio-group">
        <mat-radio-button [value]="true">Ativo</mat-radio-button>
        <mat-radio-button [value]="false">Inativo</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="form-actions">
    <button
      mat-stroked-button
      type="button"
      (click)="fechar()"
      >
      Voltar
    </button>

    @if (isView) {
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="habilitarEdicao()"
        >
        <mat-icon>edit</mat-icon>
        Editar
      </button>
    }

    @if (!isView) {
      <button
        mat-raised-button
        color="primary"
        type="submit"
        >
        Salvar
      </button>
    }
  </div>

</form>
