####################################
# Java / Maven / Spring Boot
####################################
target/
*.log
*.class

####################################
# Maven Wrapper
####################################
.mvn/wrapper/maven-wrapper.jar

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
out/

####################################
# Eclipse (caso use em algum momento)
####################################
.project
.classpath
.settings/

####################################
# VS Code
####################################
.vscode/

####################################
# Sistema Operacional
####################################
.DS_Store
Thumbs.db

####################################
# Node / Angular (futuro frontend)
####################################
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# Angular cache
####################################
.angular/

####################################
# Arquivos sensíveis
####################################
.env
application-local.yml
application-local.properties

