<div class="container">

  <div class="header">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['nova']"
    >
      Nova Avaliação Física
    </button>
  </div>

  <!-- 🔥 SE NÃO TIVER AVALIAÇÕES -->
  <div *ngIf="avaliacoes.length === 0" class="empty-state">
    <p>Nenhuma avaliação realizada.</p>
  </div>

  <!-- 🔥 SE TIVER AVALIAÇÕES -->
  <div *ngIf="avaliacoes.length > 0">

    <mat-card class="avaliacao-card" *ngFor="let avaliacao of avaliacoes">
    <h3>
      Data da avaliação:
      {{ avaliacao.dataAvaliacao | date:'dd/MM/yyyy' }}
    </h3>
      <p><strong>Avaliador:</strong> Sistema</p>

      <button
        mat-stroked-button
        color="primary"
        [routerLink]="[avaliacao.id]"
      >
        Visualizar
      </button>
    </mat-card>

  </div>

</div>
