<div class="form-container">

  <mat-card>
    <h2>Dados do Treino</h2>

    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Responsável" formControlName="responsavel">
    </mat-form-field>

  </mat-card>

  <mat-card>
    <div class="header">
      <h2>Exercícios</h2>

      <button mat-raised-button color="primary" (click)="addExercicio()">
        Adicionar Exercício
      </button>
    </div>

    <div formArrayName="exercicios">

      <div *ngFor="let ex of exercicios.controls; let i = index" [formGroupName]="i" class="ex-card">

        <mat-form-field>
          <mat-select placeholder="Exercício" formControlName="exercicioId">
            <mat-option *ngFor="let e of listaExercicios" [value]="e.id">
              {{ e.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Séries" formControlName="series">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Repetições" formControlName="repeticoes">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="remover(i)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </div>
  </mat-card>

</div>
