<div class="page-container">
  <div class="page-header">
    <h1>Alunos</h1>

    <button mat-raised-button color="primary" [routerLink]="['/alunos/novo']">
      Novo Aluno
    </button>
  </div>

  <mat-card class="table-card">
    <table mat-table [dataSource]="alunos" class="alunos-table">
      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let aluno">{{ aluno.nome }}</td>
      </ng-container>

      <!-- CPF -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let aluno">{{ aluno.cpf }}</td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let aluno">
          <span class="status" [ngClass]="aluno.ativo ? 'ativo' : 'inativo'">
            {{ aluno.ativo ? "Ativo" : "Inativo" }}
          </span>
        </td>
      </ng-container>

      <!-- Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>

        <td mat-cell *matCellDef="let aluno">
          <!-- Ver detalhes -->
          <button
            mat-icon-button
            color="primary"
            [routerLink]="['/alunos', aluno.id]"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>visibility</mat-icon>
          </button>

          <!-- Editar -->
          <button
            mat-icon-button
            color="accent"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header -->
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>

      <!-- Linha clicável -->
      <tr
        mat-row
        *matRowDef="let row; columns: colunas"
        [routerLink]="['/alunos', row.id]"
        style="cursor: pointer"
      ></tr>
    </table>
  </mat-card>
</div>
