<div class="page-container">
  <div class="page-header">
    <h1>Exercícios</h1>

    <button mat-raised-button color="primary" routerLink="/exercicios/novo">
      Novo Exercício
    </button>
  </div>

  <mat-card class="table-card">
    <table mat-table [dataSource]="exercicios">

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let e">{{ e.nome }}</td>
      </ng-container>

      <!-- Grupo -->
      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef>Grupo</th>
        <td mat-cell *matCellDef="let e">{{ e.grupoMuscular }}</td>
      </ng-container>

      <!-- Intensidade -->
      <ng-container matColumnDef="intensidade">
        <th mat-header-cell *matHeaderCellDef>Intensidade</th>
        <td mat-cell *matCellDef="let e">{{e.intensidade}}</td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let e">
          <span class="status" [class.ativo]="e.ativo">
            {{ e.ativo ? 'Ativo' : 'Inativo' }}
          </span>
        </td>
      </ng-container>

      <!-- Ações -->
      <ng-container matColumnDef="acoes">
        <td mat-cell *matCellDef="let e">
          <button mat-icon-button [routerLink]="['/exercicios', e.id]">
            <mat-icon>visibility</mat-icon>
          </button>

          <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button> -->

          <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editar(e)">
              <mat-icon>edit</mat-icon>
              Editar
            </button>

            <button mat-menu-item (click)="deletar(e.id)">
              <mat-icon color="warn">delete</mat-icon>
              Excluir
            </button>
          </mat-menu> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas"></tr>

    </table>
  </mat-card>
</div>
